.container
  width: 100vw
  height: 100vh

.content
  padding: 64px 19px

.title
  margin-top: 25vh

.description
  margin-top: 15vh

.text
  display: flex
  justify-content: center
  margin-top: 25vh

.icon
  display: flex
  justify-content: center

.print
  background-image: url('../../../images/backgrounds/print.png')
  background-repeat: no-repeat
  background-size: 100vw

.ukiyoe
  background-image: url('../../../images/backgrounds/ukiyoe.png')
  background-repeat: no-repeat
  background-size: 100vw
